header{
    background-color: #007fff;
}

.head{
    width:100%; height:150px; border:1px solid #000;
    background-image: url('../img/pattern.png');
    background-size:contain;
    
}

.logo{
    
    width: 20%;
    margin: auto;
}

main{
    width: 80%;
    margin: auto;
}

.first{
    height: 150px;
}

.bool{
    color: #00f9ff;
}

footer{
    width: 80%;
    margin: auto;
}

.small{
    font-size: 12px;
}

.highlight{
    background-color:yellow;
}

th{
    
    background-color:#04a1e8;
    color: white;
    
}

.uno{
    width: 20%;
    
    
}

h3{
    color: grey;
}

    

